# Bristol SSO Login - Use email and accompanying password
USERNAME = '@bristol.ac.uk'
PASSWORD = ''

# The course code. Found at https://www.bris.ac.uk/timetables/myprogrammes.html under "Name"
COURSECODE = ''